@font-face {
  font-family: StarWars;
  src: url(./assets//star_jedi/starjout/Starjout.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
}
body{
  background-image: url('../src/assets/wpid-battlefront_bg.png');
  background-size: cover;
}

h1{
  font-family: StarWars, sans-serif;
}

