@import url(./globalStyling.scss);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  
  text-align: center;
  font-family: sans-serif;
}
body{
  background-image: url('../src/assets/wpid-battlefront_bg.png');
  background-size: cover;
}

h1{
  font-family: StarWars, sans-serif;
}

